<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    h3 {
      background: #cef;
      padding: 6px 5px 5px 10px;
      margin-top: 50px;
    }
    
    h4 {
      font-size: 1.05em;
      border-bottom: solid 1px #9cf;
      border-left: solid 10px #9cf;
      padding-left: 10px;
      margin-top: 30px;
    }

    h5 {
      font-size: 1em;
      color: #69c;
      margin-top: 20px;
      margin-bottom: 10px;
    }

    .active {
      color: #c00;
    }

    .error {
      font-size: 20px;
    }
  </style>
</head>
<body>

  <h3>JS使用</h3>

  <h4>csvDataを表示</h4>
  <div id="file_area"></div>

  <h4>秋田のpoint_bodyを表示</h4>
  <div id="file_area2"></div>

  <h3>Vue使用</h3>

  <div id="list-rendering">

    <h4>各県のポイントの先生のポジション</h4>
      <ol>
        <li v-for="pref in vueData">
          <p :class="pref.prefecture_dir">{{ pref.point_position }}</p>
          <p v-if="pref.prefecture_dir === 'akita'">pref.prefecture_dir === 'akita'ならこれも表示</p>
        </li>
      </ol>

  </div>

  <h3>プロパティを用いた子コンポーネントへのデータの受け渡し</h3>

  <div id="blog-post-demo">
    <blog-post
      v-for="pref in vueData"
      :key="pref.id"
      :title="pref.point_position"
    ></blog-post>
  </div>
  
  <script src="https://unpkg.com/vue@next"></script>
  <script src="index.js" type="module"></script>
</body>
</html>